.customerNameCol{
    background-color: #762721;
    width:20rem;
}

.emailCol{
    background-color: #762721;
    width:28rem;
}

.mobileNumCol{
    background-color: #762721;
    width: 25rem;
}

.editCol{
    width: 10rem;
}

.delCol{
    width: 7rem;
}