table, th, tr {
    border: 2px white;
    height: 3rem;
}

.FullPage {
    background-color: #17190d;
    
}

.tableDiv {
    background-color: #890b0b;
    color: white;
    width: 90%;
}

.tbodyDiv{
    height: 6rem;
}