table, th, tr {
    border: 2px white;
    height: 5rem;
}

.FullPage {
    background-color: #17190d;
    height: 40.1rem;
}

.orderDiv {
    background-color: #890b0b;
    color: white;
    width: 80%;
}

.tbodyDiv{
    height: 6rem;
}

.statusCol {
    background-color: #640808;
}

.timeCol {
    background-color: #890b0b;
}

.customerCol {
    background-color: #9e160c;
}

.othDetails {
    background-color: #aa1d11;
}