body {
    background-color: #17190d;
}

table, th, tr {
    border: 2px #380404;
    height: 3rem;
    border-collapse: collapse;
}

.FullPage {
    background-color: #17190d;
    height: 100%;
}

.tableDiv {
    background-color: #890b0b;
    color: white;
    width: 100%;
    font-size: 14px;
}

.tbodyDiv {
    height: 5rem;
}

.statusCol {
    background-color: #640808;
    column-width: 5rem;
}

.timeCol {
    background-color: #890b0b;
}

.customerCol {
    background-color: #9e160c;
}

.customerColCompany{
    background-color: #9e160c;
    column-width: 7rem;
}

.othDetails {
    background-color: #aa1d11;
}

.editCol {
    background-color: #17190d;
}