body {
    background-color: #D4D4D4;
}

#root{
    overflow-x: hidden;
}


.FullPage {

    width: 100%;
    height: 54rem;
    margin-top: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}