.loginUI {

    display: grid;
    width: 60%;
    border: none;
    justify-content: center;

}

.textField {

    width: 39rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    padding-left: 4rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 1rem;
    font-size: 24px;
    border: none;
    background-color: #D0D0D0;
    border-radius: 2rem;

}

.usernameField {

    background-image: url(../style/images/user-svgrepo-com.svg);

}

.passwordField {

    background-image: url(../style/images/61457.png);

}

.loginButton {

    width: 42.1rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 24px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #990000;
    border-radius: 2rem;

}

.redDialogue{

    color: #800000;
    justify-self: center;
    text-decoration: underline;

}

.loginBox {

    position: relative;
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;

}

.loginLogo {

    height: 60%;
    width: 100%;
    background-image: url('../style/images/TOPTECH AUTOWORKS LOGO.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}
