:root {
    --dark1: rgba(0, 0, 0, 0.5);
    --white1: rgb(255, 255, 255);
    --red1: #640808;
    --red2: #8e1e12;
    --blue1: #062437;
    --blue2: #26558e;
}

.modal {
    font: 'Montserrat';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > label {
    text-align: center;
}

.modalBackground {
    background-color: #5a0707;
    border-radius: 15px;
    height: 27rem;
    width: 40rem;
    overflow-y: auto;
}

.modalContent {
    align-items: center;
    padding: 10px;
    color: var(--white1);
}

.closeButton {
    overflow: hidden;
    padding-bottom: 5px;
}

.closeButton > button {
    background-color: var(--blue1);
    color: var(--white1);
    position: relative;
    padding: 10px 15px !important;
    float: right;
    border: none;
    border-radius: 50% !important;
    font: "Montserrat";
    font-size: 18px;
    font-weight: 900;
    width: 3rem !important;
}

.closeButton > button:hover {
    background-color: var(--blue2);
}

.formStyle > div input, .formStyle > div select {
    background-color: var(--red2);
    color: white;
    padding: 5px;
    padding-left: 0.8rem;
    margin: 5px;
    border: none;
    border-radius: 15px;
    width: 10rem;
}

.modalHeader{
    text-decoration-line: underline;
    font-size: 1.3rem;
}

/* REQUEST CUSTOMER */
.custFirstTag{
    padding-left: 2.5rem;
}

.custLastTag{
    padding-left: 2.5rem;
}

.custEmailTag{
    padding-left: 2.5rem;
}

.custMobTag{
    padding-left: 2.5rem;
}

.custSubText{
    font-size: 1.1rem;
}

.custSubField{
    height: 2rem;
}


/* REQUEST ORDER */
.orderStatTag{
    padding-left: 2.5rem;
}

.timeInTag{
    padding-left: 2.5rem;
}

.timeOutTag{
    padding-left: 2.5rem;
}

.custTypeTag{
    padding-left: 2.5rem;
}

.custNameTag{
    padding-left: 2.5rem;
}

.orderCompanyTag{
    padding-left: 2.5rem;
}

.orderLicenseTag{
    padding-left:2.5rem;
}

.orderSubText{
    font-size: 1.1rem;
}

.orderSubField{
    height: 2rem;
}

.orderEstimateTag{
    padding-left:2.5rem;
}

.orderScopeTag{ 
    padding-left:2.5rem;
}

.createCustomerButt{
    padding-right: 2rem;
}

.createVehicleButt{
    padding-right: 2rem;
}

/* REQUEST USER */
.firstNameTag{
    padding-left: 2.5rem;
}

.lastNameTag{
    padding-left: 2.5rem;
}

.usernameTag{
    padding-left: 2.5rem;
}

.userRoleTag{
    padding-left: 2.5rem;
}

.userSubText{
    font-size: 1.1rem;
}

.userSubField{
    height: 2rem;
}

.orderVerification {
    padding: 3rem;
    background-color: #762721;
}


/* REQUEST VEHICLE */
.licensePlateTag{
    padding-left: 2.5rem;
}

.manufactTag{
    padding-left: 2.5rem;
}

.modelTag{
    padding-left: 2.5rem;
}

.yearManufTag{
    padding-left: 2.5rem;
}

.vehicleSubText{
    font-size: 1.1rem;
}

.vehicleSubField{
    height: 2rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #960b0b; 
    border-radius: 8px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #700909;
}

.editCol{
    width: 7.8em;
}


/* INVOICE DISPLAY */
.invoiceTags{
    font-size: 25px;
}