.modal {
    font: 'Montserrat';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > label {
    text-align: center;
}

.modalBackground {
    background-color: #640808;
    border-radius: 15px;
}

.modalContent {
    align-items: center;
    padding: 10px;
    color: white;
}

.closeButton {
    overflow: hidden;
    padding-bottom: 5px;
}

.closeButton > button {
    background-color: #062437;
    color: white;
    position: relative;
    padding: 10px 15px;
    float: right;
    border: none;
    border-radius: 50%;
    font: "Montserrat";
    font-weight: 900;
}

.closeButton > button:hover {
    background-color: #26558e;
}

.formStyle > div input, .formStyle > div select {
    background-color: #8e1e12;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    width: 10rem;
}