:root {
    --dark1: rgba(0, 0, 0, 0.5);
    --white1: rgb(255, 255, 255);
    --red1: #640808;
    --red2: #8e1e12;
    --blue1: #062437;
    --blue2: #26558e;
}

.modal {
    font: 'Montserrat';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > label {
    text-align: center;
}

.modalBackground {
    background-color: var(--red1);
    border-radius: 15px;
}

.modalContent {
    align-items: center;
    padding: 10px;
    color: var(--white1);
}

.closeButton {
    overflow: hidden;
    padding-bottom: 5px;
}

.closeButton > button {
    background-color: var(--blue1);
    color: var(--white1);
    position: relative;
    padding: 10px 15px;
    float: right;
    border: none;
    border-radius: 50%;
    font: "Montserrat";
    font-weight: 900;
}

.closeButton > button:hover {
    background-color: var(--blue2);
}

.formStyle > div input, .formStyle > div select {
    background-color: var(--red2);
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    width: 10rem;
}