* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}


.navWrapper {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 100;
	padding-bottom: .5em;
    margin-bottom: 1.5em;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.buttonWrapper {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: 100%;
    flex-direction: row;
    left: 60vw;
    justify-content: space-between;
    position: sticky;
}


.navButton {
    background-color: white;
    border: none;
    color: #960b0b;
    font-style: italic;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    padding: 0.7rem 1.3rem;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navButton:hover {
    background-color: #960b0b;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .buttonWrapper {
        position: static;
    }
}

.RedBar {
    width: 100%;
    height: 10%;
    background-color: #960b0b;
}

.logo {
    padding-left: 0.8rem;
}