.fullPage {
    display: block;
    width: 100%;
    height: 46.6rem;
    padding-top: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../style/images/SL_110720_37770_21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
