.registerUI {
    z-index: 100;
    width: 85rem;
    border: none;
    justify-content: center;
    padding-top: 14.5rem;
    padding-left: 53rem;
}

.textRegister {
    width: 32rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    font-size: 24px;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
}

.registerForm {
    width: 52vw;
    height: 35vh;
    display: block;
    z-index: 100;
    position: relative;
}

.usernameField {
    background-image: url(../style/images/user-svgrepo-com.svg);
}

.passwordField {
    background-image: url(../style/images/61457.png);
}

.firstName {
    background-image: url(../style/images/user-svgrepo-com.svg);
    width: 16rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    font-size: 24px;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
}

.lastName {
    background-image: url(../style/images/user-svgrepo-com.svg);
    width: 16rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem;
    font-size: 24px;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
}

.registButton {
    width: 32rem;
    min-height: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 24px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #990000;
    border-radius: 2rem;
}

.registButton:hover{
    background-color: #6e0000;
    transition-duration: 0.3s;
}

.redDialogue {
    color: #800000;
    justify-self: center;
    text-decoration: underline;
}

.leftBG {
    width: 100%;
    height: 100%;
    background-image: url(../style/images/hotwheels.png);
    background-position: left;
    background-position-x: -28.5rem;
    background-position-y: -32rem;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 75rem 105rem;
    opacity: 80%;
    border-radius: 3.1rem;
}

.registerBox {
    position: relative;
    border-color: white;
    border-radius: 3.1rem;
    border-style: solid;
    background-color: white;
    width: 90rem;
    height: 40rem;
    margin: auto;
    padding: 0;
    border: 0;
    background-image: url(../style/images/SL_042620_30310_19.jpg);
    background-size: cover;
}

.registLogo {
    padding-top: 15rem;
    height: 10%;
    width: 100%;
    background-image: url('../style/images/TOPTECH AUTOWORKS LOGO.png');
    background-position: right;
    background-position-x: 50rem;
    background-repeat: no-repeat;
    background-size: 35rem 10rem;
    position: absolute;
}

.loginDial{
    color: black;
    position: absolute;
    width: 33em;
    justify-content: center;
}

::placeholder {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    text-align: left;
}

