.admin-theme {
    ---accent: #aa1b1b;
    ---tableprimary: #494141;
    ---tablesecondary: #b6abab;
    ---tableborder: #380404;
    ---tablecolor: #aa9d9d;
    ---background: white;
    ---modalbackground: #494141;
    ---createButton: #423d3d;
    ---submitButton: #2e2828;
    ---modalBorder: #d6c1c1;

   }
.employee-theme {
    ---accent: #062437;
    ---tableprimary: #16405b;
    ---tablesecondary: #3b7396;
    ---tableborder: #380404;
    ---tablecolor: #ae6565;
    ---background: white;
    ---createButton: #16405b;
}