
.searchWrapper {
    width: 100%;
    text-align: left;
    background-color: #17190d;
}

.searchBar {
    margin-left: 3em;
    margin-top: 1em;
    width: 20em;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    text-align: center;
    color: white;
}

.searchBar::placeholder {
    text-align: center;
    font-style: italic;
}

::placeholder {
    color: white;
    text-align: center;
}

.hideCaret {
    caret-color: transparent
}

.showCaret {
    caret-color: white;
}

.optionButton {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    width: fit-content;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    padding: 10px;
    text-align: center;
    color: white;
}


.optionButton {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    width: fit-content;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    padding: 10px;
    text-align: center;
    color: white;
}