:root {
    --background: #17190d;
}

.searchWrapper {
    width: 100%;
    background-color: var(--background);
}

.searchBar {
    margin-left: 3em;
    margin-top: 1em;
    width: 20em;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    text-align: left;
    color: white;
    float: left;
}

.searchBar::placeholder {
    text-align: center;
    font-style: italic;
    color: white;
}

.searchField {
    background-image: url(../style/images/search.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 14.5rem 0.3rem;
    
}

::placeholder {
    color: white;
    text-align: center;
}

.hideCaret {
    caret-color: transparent
}

.showCaret {
    caret-color: white;
}

.optionButton {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    width: fit-content;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    padding: 10px;
    text-align: center;
    color: white;
}


.optionButton {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    width: fit-content;
    height: 2.8em;
    border: none;
    border-radius: 30px;
    background-color: #16405b;
    padding: 10px;
    text-align: center;
    color: white;
}

span button {
    background-color: #762721;
    color: white;
    border: none;
    margin: auto 1px auto 1px;
    width: 5rem;
    height: 2rem;
}

span p {
    display: inline-block;
    color: white;
    margin: auto 10px auto 10px;
}