
body {
    box-sizing: border-box;
    text-align: center;
}

label {
    padding: 10px;
}

td {
    border: 1px solid;
    border: 1px #581616 solid;
}

th, td {
    height: 10px;
}

tr:nth-of-type(odd) {
    background-color:#ae6565;
}

tr:nth-of-type(even) {
    background-color: #773e3e;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size: 14px;
    padding: 10px;
    float: left;
    clear: left;
    width: 300px;
    height: 20px;
    text-align: left;
}

input[type=text] select {
    border: none;
    border-bottom: 1px solid;
    margin-top: 20px;
    float: left;
    margin-top: 30px;
    size: 5px;
}

p {
    color: black;
    font-weight: 800;
}

.FormDiv {
    text-align: center;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
}

form > div > p {
    font-size: 10px;
    clear: both;
    color: red
}

.objectView {
    
}