:root {
    --red1: #581616;
    --red2: #ae6565;
    --red3: #a25656;
}

body {
    box-sizing: border-box;
    text-align: center;
}

label {
    padding: 10px;
}

td {
    border: 1px solid;
    border: 1px var(--red1) solid;
    padding: 0.5rem;
    /*white-space: nowrap;*/
}

th, td {
    height: 10px;
}

tr:nth-of-type(odd) {
    background-color:var(--red2);
}

tr:nth-of-type(even) {
    background-color: var(--red3);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size: 14px;
    padding: 10px;
    float: left;
    clear: left;
    width: 300px;
    height: 20px;
    text-align: left;
}

input[type=text] select {
    border: none;
    border-bottom: 1px solid;
    margin-top: 20px;
    float: left;
    margin-top: 30px;
    size: 5px;
}

p {
    font-weight: 800;
}

.FormDiv {
    text-align: center;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
}

form > div > p {
    font-size: 10px;
    clear: both;
    color: red
}

.detailsViewExpensesButt {
    white-space: nowrap;
}