.tableDiv {
    margin-top: 2.5rem;
}

thead {
    height: 5rem;
}

.delCol, .editCol {
    background-color: #17190d;
    column-width: 5rem;
    border: none;
}

.licenseCol {
    background-color: #762721;
}

.manufacturerCol {
    background-color: #762721;
}

.modelCol {
    background-color: #762721;
}

.yearmanufacturedCol {
    background-color: #762721;
}

.tbodyDiv{
    background-color: #ae6565;
    /* width: 5rem; */
    height: 10rem;
}

.deleteBtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.createBtn {
    margin-right: 1.8rem;
    float: right;
}

